<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mpl00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,152},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,202},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,102},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl20.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,88},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl21.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,52},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl23.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl30.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl31.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
            <key>mpl32.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>mpl33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mpl.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7009386c0337a3821a0f5169a7d11a2$</string>
            <key>textureFileName</key>
            <string>mpl.png</string>
        </dict>
    </dict>
</plist>
