<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soilbreak0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>soilbreak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>soilbreak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{65,51}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>soilbreak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,86},{65,51}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>soilbreak4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,19},{65,51}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>soilbreak5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{57,15}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{57,15}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soil.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75c55bcbbbdc068f448fb73ef0bf9e36$</string>
            <key>textureFileName</key>
            <string>soil.png</string>
        </dict>
    </dict>
</plist>
